.env

*/.env*
scripts/izilife/.env.izilife

scripts/izilife/events/profiles/
wordpress/*
izilife/izilife-agent-workspace*
'izilife/izilife-agent-workspace-local
'izilife/izilife-agent-workspace-staging
'izilife/izilife-agent-workspace
izilife/templates